@page
@model LakoDoStana.Pages.LogInModel
@{
    ViewData["Title"] = "LogIn";
}

<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="~/TemaLogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/TemaLogin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
    <link href="~/TemaLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
    <link href="~/TemaLogin/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
    <link href="~/TemaLogin/vendor/animate/animate.css" rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
    <link href="~/TemaLogin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
    <link href="~/TemaLogin/vendor/animsition/css/animsition.min.css" rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
    <link href="~/TemaLogin/vendor/select2/select2.min.css" rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
    <link href="~/TemaLogin/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
    <link href="~/TemaLogin/css/util.css" rel="stylesheet" type="text/css"/>
    <link href="~/TemaLogin/css/main.css" rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('TemaLogin/images/wallpaper.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-logo">
                        <i class="fa fa-user" data-placeholder="&#xf007;"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Uloguj se
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Unesi korisničko ime">
                        <input class="input100" type="text" name="korisnickoime" asp-for="@Model.KorisnickoIme" placeholder="Korisničko ime">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Unesi lozinku">
                        <input class="input100" type="password" name="sifra" asp-for="@Model.Sifra" placeholder="Lozinka">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    @if(Model.Greska)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Pogrešno korisničko ime ili lozinka </strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Uloguj se
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" asp-page="/Register" asp-route-adminid="@Model.ind">
                            Nemate nalog?Registrujte se odmah!
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/TemaLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemaLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemaLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/TemaLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemaLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemaLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/TemaLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemaLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemaLogin/js/main.js"></script>

</body>

